/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1rem;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  --primary-color: #434a54;
  --secondary-color: #c9d8db;
  --darker-primary-color: #333841;
  --border-color: #5E666F;
  --highlight-color: var(--tertiary-color-2);
  --default-background-color: white;
  --default-text-color: black;

  --tertiary-color-1: #516F54;
  --tertiary-color-2: #eab555;
  --tertiary-color-3: #92412e;
  --tertiary-color-4: #f0eadc;

  --focus-outline-color: var(--highlight-color);
}
  
   /*-- Base Styles --*/

html {
  display: flex;
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
  color: var(--primary-color);
  margin: auto;
  justify-content: center;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
}

figure {
  justify-content: center;
  margin: 0 auto;
  padding: 0 10px 20px 10px;
  max-width: 500px;
  height: auto;
}

figcaption {
  display: flex;
  color: var(--primary-color);
  font-size: .85rem;
  font-style: italic;
  justify-content: right;
}

img {
  display: flex;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

a {
  color: var(--primary-color);
}

button,
a,
input,
textarea,
select {
  border: 3px solid transparent;
  padding: 0.5rem;
}

p a {
  padding: 0.2rem;
  border: none;
  color: var(--tertiary-color-3);
}

figure a {
  border: 2px solid transparent;
  padding: 0.5rem;
  display: flex;
}

h1 {
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: lighter;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
  margin: 0;
  width: 100%;
  padding-top: 1rem;
}

h2 {
  font-family: "Caveat", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 2rem;
}

h3 {
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight:normal;
  margin: 0.5rem 0rem;
  padding-left: 1rem;
}

h4 {
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
  font-size: 1.35rem;
  font-weight:normal;
  margin: 0.5rem 0rem;
  text-wrap: pretty;
}

h5 {
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  font-weight:600;
  line-height: .1rem;
  margin: 2rem 0rem 1rem 0rem;
  text-wrap: pretty;
}

h6 {
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight:600;
  line-height: 1rem;
  margin: 1rem 0rem 0rem 0rem;
}

p {
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight:normal;
  margin: 0.5rem 0rem;
  max-width: 80ch;
  word-wrap: break-word;
}

p.note {
  font-style: italic;
  font-weight: bold;
}

p.callout {
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight:normal;
  margin: 0.5rem 0rem;
}

.content-wrapper {
  padding: 0.1rem 1.5rem 1.5rem 1.5rem;
  max-width: 1500px;
  justify-content: center;
  margin: auto;
}

.social ul {
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
  list-style-type: none;
  padding-bottom: 1rem;
}

/* General focus styles */

:focus {
  outline: 1px solid white; 
  border: 3px solid var(--focus-outline-color);
  padding: 0.5rem;
}

/* Focus style for input fields */
input:focus,
textarea:focus,
select:focus {
  border: 2px solid var(--tertiary-color-2); /* Tertiary color for input focus */
}

/* Specific focus styles for links */
a:focus {
  text-decoration: underline;
  outline: none;
  border: 3px solid var(--highlight-color);   
  border-radius: .5rem;
  padding: .5rem;
}

p a:focus {
  padding: 0.2rem;
  border: none;
  outline: 3px solid var(--highlight-color);
}

.project .single p a {
  padding: 0.3rem;
  border: none;
  color: var(--tertiary-color-3);
}
.project .single p a:focus {
  text-decoration: underline;
  outline: 3px solid var(--highlight-color);
  border: 3px solid var(--highlight-color);   
  border-radius: .5rem;
  padding: .2rem;
}
.project .single p a:focus {
  padding: 0.1rem;
  outline: 3px solid var(--highlight-color);
}

/*-- Header Styles --*/
.skip-link {
  position: absolute;
  left: -9999px;
}

.skip-link:focus {
  left: 0;
  background: #fff;
  color: var(--darker-primary-color);
  padding: 8px;
  z-index: 1000;
}

nav {
  background-color: var(--secondary-color);
  width: 100%;
  margin: 0;
  padding: 15px 0;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin-block-start: 1rem;
  margin-top: 0;
  max-width: 2000px;
  align-content: center;
  margin: auto;
}

nav ul li {
  font-family: "Caveat", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

nav ul li a {
  background-color: transparent;
  border-radius: .5rem;
  padding: .5rem;
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: .5rem;
  padding: .5rem;
}

/*-- Section Styles --*/

#about .content-wrapper {
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 1.6px 48px;
}

#about h2 {
  line-height: 1rem;
}

#about figure {
  justify-content: right;
  padding: 10px 20px;
  margin: 25px auto;
  max-width: 300px;
}

#about ul {
  padding: 0.1rem;
}

#skills {
  background: var(--tertiary-color-4);
  color: var(--primary-color);
  margin: 0;
  width: 100%;
}

#skills h2 {
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}

#skills ul {
  gap: 2rem;
  list-style: disc;
  margin-left: 2rem;
}

#skills ul span {
  font-size: 1.25rem;
  font-weight: bold;
}

#skills li {
  max-width: 80ch;
  word-wrap: break-word;
}

#projects {
  background-color: white;
}

#projects h2 {
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}

#projects .single h3 {
  padding-top: 2rem;
}

#projects .content {
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 0rem;
}

#projects .content-wrapper.content {
  padding: 0.1rem;
}

#project-descriptions.content-wrapper {
  padding: 0.1rem 0 1.5rem;
}

#projects .content-wrapper {
  padding: 0.1rem 0.1rem 1rem;
}

.project {
  border-radius: 25px;
  border: 2px solid var(--border-color);
  padding: 1rem 1rem;
  margin: auto;
  width: auto;
}

.description {
  justify-self: left;
}

.project .intro {
  display: flex;
  flex-wrap: wrap-reverse;
  max-width: 80ch;
  word-wrap: break-word;
}

.project-image {
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;    /* new: for absolute-positioned controls */
  display: block;
  overflow: hidden;
}

.project img {
  outline: 2px solid white;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
}

article#custom {
  margin-top: 1rem;
}

#controls {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  background: rgba(255,255,255,0.85);
  padding: 0.4rem 0.6rem;
  border-radius: 8px;
  pointer-events: auto;
}

#controls p {
  width: 100%;
}

#controls button {
  background-color: var(--darker-primary-color);
  color: white;
  border-radius: 10px;
  width: 5rem;
}

#controls button.random {
  background-color: var(--tertiary-color-1);
}

.project a:hover {
  cursor: pointer;
}

.project ul {
  gap: 1rem;
  width: 90%;
  margin: 1rem;
  list-style: disc;
}

/*-- Footer Styles --*/

footer {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
  margin: 0;
  width: 100%;
}

footer h2 {
  text-align: center;
  margin-bottom: 2rem;
}

footer ul {
  justify-content: center;
}

footer p {
  display: flex;
  font-size: .9rem;
  justify-content: center; 
  line-height: .5rem;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden,
[hidden] {
  display: none !important;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */


@media (prefers-reduced-motion: no-preference) {
  html {
      scroll-behavior: smooth;  
  }

@media only screen and (min-width: 769px) {

  h1 {
    font-size: 1.75rem;
  }

  nav ul li {
    font-size: 1.5rem;
  }

  #about .content-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  #skills-lists {
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem 3rem 0.5rem 0rem;
    max-height: 625px;
  }

  #skills-lists .list {
    width: 50%;
  }

  .social ul {
    font-size: 3rem;
    gap: 1rem;
  }
  
  #projects .content-wrapper {
    padding: 0.1rem 1.5rem 1.5rem 1.5rem;
  }

  #custom .project-image {
    height: 685px;
  }

}

@media only screen and (min-width: 992px) {

  #projects .content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
  }

  .project {
    align-items: flex-start;
    width: 49%;
    margin: 0 0 2rem;
  }

  .project .intro {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  #projects .intro {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  article#custom {
    margin-top: 0rem;
  }

  #projects .single h3 {
    padding-top: 0rem;
  }

}

@media only screen and (min-width: 1200px) {
  #skills-lists {
    max-height: 450px;
  }

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  nav {
    display: none;
  }

  a,
  a:visited {
    text-decoration: underline;
    font-size: 1rem;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  figure a[href] {
    display: block;
  }

  figure img {
    justify-self: center;
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
    width: 250px;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  h2, h3 {
    padding-bottom: 0;
    margin-bottom: 1rem;
  }

  #skills {
    page-break-inside: avoid;
  }

  article.project {
    margin: 0;
    padding: 0;
  }
  
  #custom .project-image {
    height: 600px;
  }

  #controls {
    display: none;
  }

  .social ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
  }

  .project {
    border: none;
  }

  .project img {
    width: 180px;
    height: auto;
  }

  #copyright {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    gap: 1rem;
  }

  footer p a {
    display: none;
  }
}
}